body {
    background-color: #2E2E2E;
    font-family: Pretendard Variable, Arial, sans-serif;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center; /* 수평 중앙 정렬 */
    height: 90vh;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between; /* 좌우로 타이틀과 네비게이션 분리 */
    width: 100vw; /* 전체 너비 사용 */
    padding: 1% 5%; /* 위아래, 좌우 여백 추가 */
    box-sizing: border-box; /* 패딩 포함한 너비 계산 */
    border-bottom: 1px solid #555; /* 하단 선 추가 */
}

.fixed-title {
    color: #fff;
    text-shadow: 0 0 10px #dcdcdc, 0 0 20px #dcdcdc;
    text-decoration: none;
    font-size: 40px;
}

nav {
    display: flex;
    gap: 20px; /* 네비게이션 항목 간 간격 추가 */
}

nav a {
    color: #ccc;
    text-decoration: none;
    font-size: 20px;
    transition: color 0.3s ease, text-shadow 0.3s ease;
}

nav a:hover {
    color: #FFF06B;
    text-shadow: 0 0 10px #ffe677, 0 0 20px #ffe677;
}

/* 반응형 스타일 */
@media (max-width: 800px) {
    .header {
        flex-direction: column; /* 작은 화면에서는 위아래로 배치 */
        align-items: flex-start; /* 정렬 방식 변경 */
        padding: 10px 20px;
    }

    .fixed-title {
        font-size: 30px;
    }

    nav {
        gap: 15px;
    }
}

@media (max-width: 500px) {
    .fixed-title {
        font-size: 24px;
    }

    nav a {
        font-size: 14px;
    }
}

/* 중앙 정렬 */
.wrapper-container {
    display: inline-block;
    text-align: center;
    width: 100%;
}

.tetris-container {
    margin: 3%;
    padding-left: 2%;
    justify-content: center;
    display: flex;
    flex-direction: row;
    width: 90vw;
    height: 80vh;
}

.tetris-panel-container {
    display: flex;
    padding-left: 10px;
    padding-right: 10px;
    flex-direction: column;
    color: white;
    font-size: 20px;
    background-color: #555;
}

.tetris-button{
    background-color: #b1b1b1;
    padding: 7%;
    border-radius: 5px;
    color: #2E2E2E;
}